<table id="hazardous-asteroids-datatable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Diametro</th>
            <th>Velocidad</th>
            <th>Fecha</th>
        </tr>
    </thead>
</table>