<table id="hazardous-asteroids-datatable" class="table table-responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Diametro</th>
            <th>Velocidad Km/h</th>
            <th>Fecha</th>
        </tr>
    </thead>
</table>