@model HazardousAsteroidsFilter

<form class="row">
    <div class="col-12 col-md-3">
        <label asp-for="PlanetName"></label>
        <input id="planet" class="form-control" asp-for="PlanetName" />
         <span id="planet-error-message" class="text-danger"></span>
    </div>
     <div class="col-12 col-md-3">
        <label asp-for="FromDate"></label>
        <input id="from-date" class="form-control" type="date" asp-for="FromDate" />
    </div>
     <div class="col-12 col-md-3">
        <label asp-for="ToDate"></label>
        <input id="to-date" class="form-control" type="date" asp-for="ToDate" />
          <span id="days-error-message" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-2 m-auto">
        <input id="search-button" class="btn btn-outline-primary mt-4" type="button" value="Buscar"/> 
    </div>
</form>