<table id="hazardous-asteroids-datatable" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Diámetro</th>
            <th>Velocidad</th>
            <th>Fecha</th>
        </tr>
    </thead>
</table>