@model Planetas.Web.Models.HazardousAsteroidsViewModel
@{
    ViewData["Title"] = "Hazardous Asteroids";
}

<h1>Hazardous Asteroids</h1>
<partial name="_HazardousAsteroidsFilters" for="Filters" />
 <partial name="_HazardousAsteroidsGrid" />