@model Planetas.Web.Models.HazardousAsteroidsViewModel
@{
    ViewData["Title"] = "Hazardous Asteroids";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
}

<h1>Hazardous Asteroids</h1>
<div class="mt-2">
    <h3>Buscar por planeta y fecha</h3>
    <partial name="_HazardousAsteroidsFilters" for="Filters" />
</div>
<div class="mt-5">
    <partial name="_HazardousAsteroidsGrid" />
</div>
 

 @section Scripts{
     <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
     <script src="~/lib/moment.js/moment.min.js"></script>
     <script src="~/js/hazardousAsteroidsDataTable.js"></script>
 }